@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/components/Header/index.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.banner-wrapper {
  @apply min-h-[550px] bg-cover bg-center md:min-h-[686px];
}

.home-banner {
  background-image: url('/images/banner-01.png');
}
.special-banner {
  background-image: url('/images/banner-04.png');
}
.about-banner {
  background-image: url('/images/banner-05.png');
}
.enterprise-banner {
  background-image: url('/images/banner-03.png');
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
